@import 'reset.css';

@import url('https://fonts.googleapis.com/css?family=Montserrat');

h0 {
    font-size: 64px;
    line-height: 80px;
  }
  
  h1 {
    font-size: 36px;
    line-height: 50px;
  }
  
  h2 {
    font-size: 24px;
    line-height: 36px;
  }
  
  h3 {
    font-size: 20px;
    line-height: 30px;
  }
  
  p1 {
    font-size: 16px;
    line-height: 28px;
  }
  p1.bold {
    font-weight: bold;
  }
  
  p1.opacity {
    opacity: 0.6;
  }
  p2 {
    font-size: 14px;
    line-height: 20px;
  }
  
  p2.bold {
    font-weight: bold;
  }
  
  p2.opacity {
    opacity: 0.6;
  }

  .btn {
    height: 64px;
    width: 120px;
  
    margin: 40px 0;
    background: #1A1B1F;
    border-radius: 32px;
  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
  }

  .btn:hover {
    background-color: #854CFF;
  }
  
  .btn:active {
    background-color: #6535CC;
  }

  .btn_medium {
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 10px;
  
    height: 48px;
    width: 160px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    margin: 15px 0;
  }
  
  .btn_medium:hover {
    background: rgba(173, 135, 255, 0.2);
    border: 1px solid #AD87FF;
    border-radius: 10px;
    color: #AD87FF;
  }
  
  .btn_medium:active {
    /* background: rgba(173, 135, 255, 0.1); */
    border: 1px solid rgba(173, 135, 255, 0.5);
    border-radius: 10px;
    background-color: #6535CC;
  }
  
  .btn_medium:disabled {
    opacity: 0.4;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
  }
  
  .guide_text {
    background: #808080;
    opacity: 0.2;
    border-radius: 10px;
    
    color: #808080;
  }

  .input_text {
    background: #808080;
    opacity: 0.2;
    border-radius: 10px;

    color: #FFFFFF;
  }