@import 'design.css';

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#tabs {
  display: flex;
  flex-direction: column;
}

.tab {
  float: left;
}
/* Style the buttons that are used to open the tab content */
.tab button {
  float: left;

  background-color: inherit;
  width: 134px;
  height: 50px;
  outline: 0;
  
  color: #FFFFFF;
}

.tab button.active {
  border: 1px solid rgba(173, 135, 255, 0.5);
  border-radius: 10px;
  background-color: #6535CC;
}

.tab .other {
  width: 50px;
  height: 50px;
}
#tabcontents {
  padding: 30px 60px;
  background-color: #1A1B1F;
  background-color: rgba( 0, 0, 0, 0.2 );

  width: 90%;
  width: 1000px;
}

#raw .btn {
  width: 128px;
  height: 70px;
}
#raw .box {
  padding: 36px 40px;
  background-color: #3a3a3a;

  width: 80%;
  
  display: flex;
  flex-direction: column;
  align-content: center;
}

#raw .box.inputs {
  padding: 0;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#raw .input_text {
  width: 580px;
  height: 130px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

#raw .input_text p {
  padding-left: 30px;
}

/* Style the tab content */
#raw .tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

#submit[disabled] {
  opacity: 0.2;
  pointer-events:none;
}

/* for loader */
#loader {
  z-index: 1;
  width: 20px;
  height: 20px;
  /* margin: 30px 0px 0px 50px; */
  border-top: 20px;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  vertical-align: middle;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#statusWraaper {
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  vertical-align: baseline;
  height: 40px;
  display: inline-block;
  text-align: center;
}