@import 'design.css';

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title {
  margin-top: 40px;
  padding: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#title .title {
  margin: 10px 0;
}

#tabcontents {
  padding: 30px 60px;
  background-color: #1A1B1F;
  background-color: rgba( 0, 0, 0, 0.2 );

  width: 80%;
  max-width: 720px;
}

#submit[disabled] {
  opacity: 0.2;
  pointer-events:none;
}

.btn svg {
  padding-right: 12px;
}

.btn.download {
  width: 174px;
}

.btn.download[disabled] {
  opacity: 0.2;
  pointer-events:none;
}

.share h2 {
  padding-bottom: 30px;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
}

.link {
  padding: 0 8px;
}
.icons svg {
  /*opacity: 0.8;*/
}
svg:hover .cp {
  fill: #B0B0C2;
}

svg:hover .fb {
  fill: #3492FE;
}

svg:hover .tw {
  fill: #43D0FF;
}

#tabs {
  display: flex;
  flex-direction: column;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}
