<!doctype html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164242824-17"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-164242824-17');
    </script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{{ url_for('static', filename='images/favicon.png') }}" rel="shortcut icon" type="image/png">
    <title>Bert as a Service</title>
    <meta property="og:title" content="Bert-as-service">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://master-bert-as-service-showcase-gkswjdzz.endpoint.ainize.ai/">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:image"
        content="https://master-bert-as-service-showcase-gkswjdzz.endpoint.ainize.ai/static/images/og_img.png">
    <meta property="og:image:secure_url" content="{{ url_for('static', filename='images/og_img.png') }}">
    <meta name="description" itemprop="description" content="Bert-as-service">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.21.0/themes/prism-tomorrow.min.css" integrity="sha512-vswe+cgvic/XBoF1OcM/TeJ2FW0OofqAVdCZiEYkd6dwGXthvkSFWOoGGJgS2CW70VK5dQM5Oh+7ne47s74VTg==" crossorigin="anonymous" />
</head>

<body>
    <div id="header">
        <div class="github" OnClick="location.href='https://github.com/gkswjdzz/bert-as-service'"
            style="cursor:pointer;">
            <object data="{{ url_for('static', filename='images/github.svg') }}" type="image/svg+xml"></object>
            <div>Github</div>
        </div>
        <div class="ainize" OnClick="location.href='https://ainize.ai/gkswjdzz/bert-as-service'"
            style="cursor:pointer;">
            <object data="{{ url_for('static', filename='images/ainize.svg') }}" type="image/svg+xml"></object>
            <div>Testing API</div>
        </div>
    </div>
    <div id="container">
        <div id="title">
            <div class="icon">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M31.4767 14.2544L28.5 20.7778L25.5233 14.2544L19 11.2778L25.5233 8.3011L28.5 1.77777L31.4767 8.3011L38 11.2778L31.4767 14.2544Z"
                        fill="white" />
                    <path
                        d="M12.6667 14.4444L16.625 23.1528L25.3333 27.1111L16.625 31.0694L12.6667 39.7778L8.70833 31.0694L0 27.1111L8.70833 23.1528L12.6667 14.4444Z"
                        fill="white" />
                </svg>
            </div>
            <h1 class="title">Bert as Service (KR)</h1>
            <p1 class="sub_title">
                <br>Bert-as-service는 구글에서 개발한 자연어처리(NLP) 모델인 BERT를 setence encoder로 사용하여,<br>
                단 2줄의 코드만으로 input 문장을 고정된 길이의 표현값(벡터값)으로 변환해줍니다.</p1>
        </div>

        <div id="tabs">
            <div class="tab">
                <!-- <button class="btn_medium tablinks" onclick="openTab(event, 'qa')" id="defaultOpen">Q&A</button> -->
                <button class="btn_medium tablinks" onclick="openTab(event, 'raw')" id="defaultOpen">Raw</button>
                <button class="btn_medium tablinks other" onclick="openTab(event, 'plus')">+</button>
            </div>

            <div id="tabcontents">
                <div id="raw" class="tabcontent">
                    <p1>Let's Try</p1>
                    <div class="box">
                        <p1>Input</p1>
                        <div class="box inputs">
                            <input id="box_input" class="input_text" value="여기에 단어/문장을 입력해주세요." />
                            <div id="submit" class="btn">
                                <p1 id="submit_text">submit</p1>
                                <div id="loader" style="display: none;"></div>
                            </div>
                        </div>
                        <p1>Result</p1>
                        <textarea id="box_output" class="input_text" rows="4" cols="50" disabled>
                        </textarea>
                    </div>

                    <p1>Code</p1>
                    <div class="box">
                        <div id="code_output" class="input_text">
                            <code id="code_result" class="language-python">
                                requests.post('https://korean-bert-as-service-gkswjdzz.endpoint.ainize.ai/encode', json={"texts":["HERE"],"id":"","is_tokenized":"False"})
                            </code>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="share">
        <h2 class="title">Let’s stay connected!</h2>
        <div class="icons">
            <a class="link to_facebook" href='#' onclick="openSite('fb');">
                <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <path class="fb" fill-rule="evenodd" clip-rule="evenodd"
                            d="M12.0312 31.9688C6.65625 26.5938 6.65625 13.4062 12.0312 8.03125C17.4062 2.65625 30.5938 2.65625 35.9688 8.03125C41.3438 13.4062 41.3438 26.5938 35.9688 31.9688C30.5938 37.3438 17.4062 37.3438 12.0312 31.9688Z"
                            fill="#0076FC" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M27.6611 12.0035L25.5024 12C23.0772 12 21.5099 13.6421 21.5099 16.1837V18.1127H19.3394C19.1519 18.1127 19 18.268 19 18.4595V21.2544C19 21.4459 19.1521 21.601 19.3394 21.601H21.5099V28.6534C21.5099 28.8449 21.6618 29 21.8493 29H24.6812C24.8687 29 25.0206 28.8447 25.0206 28.6534V21.601H27.5584C27.7459 21.601 27.8978 21.4459 27.8978 21.2544L27.8989 18.4595C27.8989 18.3675 27.863 18.2795 27.7995 18.2144C27.7359 18.1493 27.6493 18.1127 27.5593 18.1127H25.0206V16.4775C25.0206 15.6915 25.204 15.2925 26.2065 15.2925L27.6607 15.292C27.8481 15.292 28 15.1367 28 14.9454V12.3502C28 12.159 27.8483 12.0039 27.6611 12.0035Z"
                            fill="white" />
                    </g>
                </svg>
            </a>
            <img class="link to_ainizer" src="{{ url_for('static', filename='images/ainizer_logo.svg') }}"
                onclick="location.href='https://master-welcome-ainizer-julia-jueun.endpoint.ainize.ai'"
                style="cursor: pointer;" />
            <a class=" link to_twitter" href='#' onclick="openSite('tw');">
                <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <path class="tw" fill-rule="evenodd" clip-rule="evenodd"
                            d="M12.0312 31.9688C6.65625 26.5938 6.65625 13.4062 12.0312 8.03125C17.4062 2.65625 30.5938 2.65625 35.9688 8.03125C41.3438 13.4062 41.3438 26.5938 35.9688 31.9688C30.5938 37.3438 17.4062 37.3438 12.0312 31.9688Z"
                            fill="#1BB7EB" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M32.5296 13.6647C31.8565 14.0679 31.1111 14.3611 30.315 14.5223C29.6782 13.8333 28.7735 13.4082 27.7676 13.4082C25.8425 13.4082 24.2793 14.9914 24.2793 16.9412C24.2793 17.2197 24.3082 17.4909 24.3734 17.7475C21.4713 17.6009 18.9021 16.1935 17.1797 14.0532C16.8829 14.5736 16.7092 15.182 16.7092 15.8271C16.7092 17.0511 17.3244 18.136 18.2652 18.7663C17.6935 18.7517 17.1579 18.5904 16.6875 18.3265V18.3705C16.6875 20.0857 17.8889 21.5077 19.4883 21.8375C19.1988 21.9182 18.8876 21.9621 18.5692 21.9621C18.3448 21.9621 18.1277 21.9401 17.9106 21.8962C18.3521 23.3035 19.6403 24.3223 21.1673 24.3517C19.9732 25.2972 18.4679 25.8616 16.8323 25.8616C16.55 25.8616 16.275 25.8469 16 25.8103C17.527 26.8218 19.3653 27.4082 21.3338 27.4082C27.7531 27.4082 31.2631 22.0208 31.2631 17.3517C31.2631 17.1977 31.2631 17.0438 31.2559 16.8972C31.9361 16.3988 32.5296 15.7757 33 15.0647C32.3776 15.3433 31.7046 15.5339 30.9953 15.6218C31.719 15.182 32.2691 14.493 32.5296 13.6647Z"
                            fill="white" />
                    </g>
                </svg>
            </a>
        </div>
    </div>

    <div id="footer">
        <div class="ainize" OnClick="location.href='https://ainize.ai'" style="cursor:pointer;">
            <object data="{{ url_for('static', filename='images/ainize_gray.svg') }}" type="image/svg+xml"></object>
            <div>Powered by Ainize</div>
        </div>
        <div class="github" OnClick="location.href='https://github.com/gkswjdzz/bert-as-service'"
            style="cursor:pointer;">
            <object data="{{ url_for('static', filename='images/github_gray.svg') }}" type="image/svg+xml"></object>

            <div>Contribute on Github</div>
        </div>
    </div>

    <div id="badge"
        style="position: fixed; bottom: 40px; right: 40px; filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));">
        <img src="{{ url_for('static', filename='images/badge.svg') }}" type="image/svg+xml"
            onclick="location.href='https://join.slack.com/t/ainetwork-dev/shared_invite/zt-c89mb8z9-IqaCsNmsNLXKNylKXrJTTg'"
            style=" cursor: pointer;" />
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.21.0/prism.min.js" integrity="sha512-WkVkkoB31AoI9DAk6SEEEyacH9etQXKUov4JRRuM1Y681VsTq7jYgrRw06cbP6Io7kPsKx+tLFpH/HXZSZ2YEQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.21.0/components/prism-python.min.js" integrity="sha512-EXseTM1JV8e3AonU5PfOUmzbPkUTRm4c4hVxv206gVeWZE/FwzSQBNWrUBaHsN3Idq9k76BEjUlXpluX1UFx6Q==" crossorigin="anonymous"></script>
</body>

</html>